header p{
    font-size: 40px;
    margin-left: 50px;
    background-color: blueviolet;
    width: 100%;
    
    text-align: center;
    margin: 0 auto;
}
nav{
   display: flex; 
   justify-content: space-evenly;
   
}
img{
    width: 20%;
}
a{
    text-decoration: none;
    color: aliceblue;
}
nav img:hover{
    transform: scale(1.2);
}
footer{
    height: 30px;
    background-color: blueviolet;
    margin-top: 50px;
    text-align: center;
    
}



